option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: "app.settings"
    DEBUG: "1"
    DATABASE_DIR: "/efs/db"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app.wsgi:application"

container_commands:
  01_migrate:
    command: "/var/app/venv/*/bin/python manage.py migrate --noinput"
    leader_only: true
  02_set_db_permissions:
    command: "chown webapp:webapp /efs/db/db.sqlite3 && chmod 666 /efs/db/db.sqlite3 || true"
    leader_only: true
  03_collectstatic:
    command: "/var/app/venv/*/bin/python manage.py collectstatic --noinput"
    leader_only: true
  04_create_superuser:
    command: "/var/app/venv/*/bin/python manage.py shell -c \"from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'test1234!')\""
    leader_only: true
    ignoreErrors: true
