{% extends 'admin/base_site.html' %}
{% load i18n static unfold %}

{% block title %}대시보드{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
<div class="p-10">
    <div class="bg-primary-dim rounded-lg p-4 shadow-lg border-2 border-primary-mid">
        {% component "unfold/components/card.html" with title="■ 총계" %}
            {% component "unfold/components/table.html" with table=revenue_table_data card_included=1 striped=1 %}
            {% endcomponent %}
        {% endcomponent %}
    </div>

    <div class="mt-6"></div>

    {% component "unfold/components/card.html" with title="■ 달력보기" %}
        {% include "admin/components/calendar.html" %}
    {% endcomponent %}

    <div class="mt-6"></div>

    {% component "unfold/components/card.html" with title="■ 총 환자수 (단위 : 명)" %}
        {% component "unfold/components/chart/line.html" with data=chart_data height=chart_height card_included=1 %}
        {% endcomponent %}
    {% endcomponent %}

    <div class="mt-6"></div>

    {% component "unfold/components/card.html" with title="■ 일 평균 내원 환자" %}
        {% component "unfold/components/table.html" with table=table_data card_included=1 striped=1 %}
        {% endcomponent %}
    {% endcomponent %}

    <div class="mt-6"></div>

    {% component "unfold/components/card.html" with title="■ 진료실별 매출 현황 (당월 상위 5개)" %}
        {% component "unfold/components/table.html" with table=room_revenue_table_data card_included=1 striped=1 %}
        {% endcomponent %}
    {% endcomponent %}
</div>
{% endblock %}
